DATABASE_URL=postgres://username:password@localhost:5432/studiosix

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret-here"

GOOGLE_CLIENT_ID="your-google-client-id-here"
GOOGLE_CLIENT_SECRET="your-google-client-secret-here"

OPENAI_API_KEY=your-openai-api-key-here

PAYSTACK_SECRET_KEY=your-paystack-secret-key-here
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=your-paystack-public-key-here

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

RUNWAY_API_KEY=your-runway-api-key-here
RUNWAY_API_URL=https://api.runwayml.com/v1

RESEND_API_KEY=your-resend-api-key-here 